<% cat.persisted? ? my_method = "patch" : my_method = "post"%>
<% cat.persisted? ? my_action = cat_url(cat) : my_action = cats_url %>

<h2><%= cat.persisted? ? "Update #{cat.name}!" : "Make a new cat!" %></h2>

<form role="form" action=<%= my_action %> method="post">
  <input type="hidden" name="_method" value=<%= my_method %>>
  <div class="form-group">
    <label for "cat_name">First name</label>
    <input name="cat[name]" id='cat_name' type="text" value = <%= cat.name %> class="form-control">
    <br>
  </div>

  <div class="form-group">
    <label for "cat_birth_date">Birthdate</label>
    <input name="cat[birth_date]" id='cat_birth_date' type="date" value = <%= cat.birth_date %> class="form-control">
    <br>
  </div>

  <div class="form-inline">
    <label>Sex:</label>
      <input name="cat[sex]" id='cat_sex_m' type="radio" value="M"
      <%= "checked" if cat.sex == "M" %> class="form-control">
      <label for="cat_sex_m">Male</label>
      <input name="cat[sex]" id='cat_sex_f' type="radio" value="F"
      <%= "checked" if cat.sex == "F" %> class="form-control">
      <label for="cat_sex_f">Female</label>
    <br>
  </div>

  <div class="form-group">
    <label for "cat_description">Description</label>
    <textarea name="cat[description]" id='cat_description' class="form-control"><%= cat.description %></textarea>
    <br>
  </div>

  <div class="form-group">
    <label for "cat_color">Color</label>
    <select name="cat[color]" class="form-control">
      <%colors = ['black','white','grey','orange','calico']%>
      <%colors.each do |color|%>
        <option value=<%=color%>
          <%= "selected" if cat.color == color %>><%=color.capitalize%></option>
      <%end%>
    </select>
    <br>
  </div>

  <div class="form-group">
    <label for "image">Upload Image</label>
    <input name="image" id="image" type="file"/>
  </div>

  <input type="submit" value=<%= cat.persisted? ? "Update" : "Create a cat!"%> class="btn btn-success">
</form>
